* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Permanent Marker", cursive;
  font-size: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Slide sa strane */
.slide1 {
  display: none; }

.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #494c49;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s; }
  .side_nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #fafafa;
    display: block;
    transition: 0.4s;
    font-weight: bold; }
    .side_nav a:hover {
      color: #ce1126; }

#close_btn {
  position: absolute;
  top: 0;
  right: 22px;
  margin-top: 25px;
  margin-left: 50px; }

/*-close slide-*/
/* Stilovi za header */
/*keyframe animacije za header*/
@keyframes animation_header {
  from {
    color: #fafafa;
    text-shadow: 2px 2px 5px #ce1126; }
  to {
    color: #ce1126;
    text-shadow: 4px 4px 8px black; } }
h1 {
  text-shadow: 2px 2px 5px #ce1126;
  color: #fafafa;
  font-size: 40px;
  float: left;
  /*animacija za header*/
  animation-name: animation_header;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  width: 170px; }

/*za ceo nivo*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden; }

.logo {
  padding-top: 20px;
  padding-bottom: 20px; }

header {
  width: 100%;
  position: fixed;
  background: #494c49;
  color: #fafafa;
  border-bottom: #ce1126 2px solid;
  min-height: 70px; }

nav {
  float: right;
  margin-top: 20px; }
  nav ul {
    font-weight: bolder;
    overflow: hidden; }
    nav ul li {
      display: inline;
      padding-left: 10px; }
      nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fafafa; }
        nav ul li a:hover {
          color: #ce1126; }

.current {
  color: #609191; }
  .current:hover {
    color: #609191; }

main {
  margin-top: 95px; }

.background_header {
  width: 100%;
  min-height: 450px;
  background: url("../images/pizza_1.jpg") no-repeat 0;
  text-align: center;
  color: #fafafa;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover; }
  .background_header h2 {
    margin-top: 80px;
    font-size: 32px; }
  .background_header .p {
    margin-top: 30px;
    font-size: 16px; }

/* KNJIGA UTISAKA */
#book_imp {
  width: 100%;
  min-height: 70px;
  background: #494c49;
  border-top: #ce1126 2px solid;
  color: #fafafa;
  padding-top: 15px;
  padding-bottom: 15px; }
  #book_imp .tooltip_book {
    float: right; }
    #book_imp .tooltip_book .book_h2 {
      float: left;
      padding-top: 15px;
      padding-right: 15px;
      padding-left: 15px;
      font-size: 22px;
      color: #609191; }
      #book_imp .tooltip_book .book_h2:hover {
        color: #ce1126; }

/* 3 boxes */
.flexi_wrapper {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .flexi_wrapper .box_food {
    flex-basis: 30%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px; }
    .flexi_wrapper .box_food h4 {
      color: #ce1126;
      font-size: 22px;
      padding: 15px 0px 15px; }

/* address, about and social media*/
#about_and_socialmedia {
  background-color: #609191;
  color: #fafafa; }

.flexi_about {
  max-width: 1500px;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between; }
  .flexi_about address {
    flex-basis: 30%;
    text-align: left; }
    .flexi_about address .center {
      font-size: 20px;
      font-weight: bold; }
    .flexi_about address .white {
      text-decoration: none;
      color: #fafafa; }
  .flexi_about .open {
    text-align: left;
    flex-basis: 30%; }
    .flexi_about .open .center {
      font-size: 20px;
      font-weight: bold; }
  .flexi_about .social_media_icons {
    text-align: right;
    flex-basis: 30%;
    display: flex; }
    .flexi_about .social_media_icons .tooltip {
      padding-right: 15px; }
    .flexi_about .social_media_icons .face {
      flex: 6; }
    .flexi_about .social_media_icons .insta {
      flex: 1;
      margin-left: -15px; }
    .flexi_about .social_media_icons .hide {
      display: none; }
  .flexi_about .mapa {
    border-radius: 3px;
    flex-basis: 30%;
    overflow-y: hidden;
    width: 480px;
    height: 350px; }

/* footer */
footer {
  background: #494c49;
  width: 100%;
  color: #fafafa;
  padding: 10px 0;
  text-align: center; }

/***  UTISCI PAGE   ***/
#heading_impression {
  background-image: url("../images/pexels-photo-315704.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover; }

.book_image {
  padding-top: 30px; }
  .book_image .h2_book_imp {
    padding-top: 0px;
    color: #fafafa;
    font-size: 20px;
    text-align: center; }

.h3_comment {
  font-size: 20px;
  text-align: center;
  color: #ce1126;
  padding-bottom: 20px; }

.space_around {
  padding-bottom: 40px;
  padding-top: 20px;
  max-width: 450px; }

.comment_form {
  padding: 40px;
  min-height: 300px;
  max-width: 450px;
  background: rgba(206, 17, 38, 0.8);
  border: 2px solid #ce1126;
  border-radius: 10px; }
  .comment_form .name {
    padding: 5px; }
  .comment_form .label {
    font-weight: bolder;
    color: #323232; }
  .comment_form .input {
    padding: 5px;
    min-width: 100%;
    min-height: 30px;
    border-radius: 5px; }
  .comment_form .input_text {
    padding: 5px;
    min-width: 100%;
    min-height: 100px;
    border-radius: 5px; }
  .comment_form .button {
    font-weight: bolder;
    color: #323232;
    min-width: 90px;
    min-height: 40px;
    border-radius: 5px;
    background: #fafafa;
    border: 3px solid #fafafa; }
    .comment_form .button:hover {
      color: #fafafa;
      background: #ce1126;
      border: 3px solid #609191;
      font-weight: bolder; }

/***  menu PAGE   ***/
.menu_container {
  display: flex; }

.background_manu {
  min-width: 600px;
  min-height: 640px;
  background-image: url("../images/prozirna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #609191;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  border-radius: 5%;
  border: 3px solid rgba(206, 17, 38, 0.8); }
  .background_manu .left {
    float: left;
    line-height: 180%;
    overflow: hidden;
    padding-left: 50px; }
  .background_manu .right {
    float: right;
    line-height: 180%;
    padding-right: 40px; }

.bold {
  font-weight: 600;
  padding-bottom: 5px;
  color: #609191; }

.head {
  font-size: 26px;
  text-transform: uppercase;
  color: #ce1126;
  font-weight: 700; }

.barbique {
  padding-top: 40px;
  padding-left: 120px; }

.pizza {
  padding-top: 40px;
  padding-left: 160px; }

.center_barbique {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px; }

.center {
  text-align: center; }

.center_pizza {
  text-align: center; }

.pizza_type {
  padding-top: 10px; }

.justify {
  padding-left: 50px; }

.justify_barbique {
  padding-left: 50px;
  margin-top: 0px; }

p {
  overflow: hidden; }

.price {
  padding-left: 30px;
  font-size: 18px; }

.cm {
  font-size: 18px; }

.gr {
  padding-left: 20px;
  font-size: 18px; }

.small {
  font-size: 18px;
  padding-left: 10px; }

/***  KONTAKT PAGE   ***/
#contact_form {
  background-image: url("../images/pexels-photo-315704.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover; }

.center_text {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 22px;
  color: #ce1126; }

.subtitle {
  text-align: center;
  font-size: 18px;
  color: #fafafa; }

.right_side {
  margin-top: -50px;
  float: right;
  display: flex;
  flex-wrap: wrap; }

.face {
  margin-right: 10px; }

.hide {
  display: none; }

.contact {
  padding-bottom: 40px;
  padding-top: 40px; }
  .contact .contact_form {
    margin: 0 auto;
    padding: 40px;
    min-height: 450px;
    max-width: 700px;
    background: rgba(206, 17, 38, 0.8);
    border: 2px solid #ce1126;
    border-radius: 10px; }
    .contact .contact_form .name {
      padding: 10px; }
    .contact .contact_form .label {
      font-weight: bolder;
      color: #323232; }
    .contact .contact_form .input {
      padding: 5px;
      min-width: 100%;
      min-height: 40px;
      border-radius: 5px; }
    .contact .contact_form .input_text {
      padding: 5px;
      min-width: 100%;
      min-height: 130px;
      border-radius: 5px; }
    .contact .contact_form .button {
      font-weight: bolder;
      color: #323232;
      min-width: 100px;
      min-height: 50px;
      border-radius: 5px;
      background: #fafafa;
      border: 3px solid #fafafa; }
      .contact .contact_form .button:hover {
        color: #fafafa;
        background: #ce1126;
        border: 3px solid #609191;
        font-weight: bolder; }

/*************************** MEDIAQUERY TABLET ************************/
/*************************** MEDIAQUERY MOBILE ************************/
@media only screen and (max-width: 640px) {
  .container {
    width: 90%; }

  .slide1 {
    display: block;
    float: left;
    padding-left: 20px;
    padding-top: 20px; }

  nav {
    display: none; }

  .logo {
    margin-top: 50px; }
    .logo h1 {
      margin-top: -30px;
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%); }

  main {
    margin-top: 72px; }

  .background_header h2 {
    display: none;
    font-size: 3vh; }
  .background_header .p {
    display: none; }

  /* Knjiga utisaka mobile */
  #book_imp {
    min-height: 50px;
    border-top: #ce1126 1px solid;
    padding-top: 10px;
    padding-bottom: 10px; }
    #book_imp .tooltip_book {
      float: right; }
      #book_imp .tooltip_book .book_h2 {
        display: none; }

  /* 3 boxes mobile */
  .flexi_wrapper {
    display: block; }
    .flexi_wrapper .box_food {
      margin: 50px 20px; }
      .flexi_wrapper .box_food h4 {
        font-size: 24px;
        padding: 12px 0px 12px; }

  /* addresss */
  .flexi_about {
    display: block;
    padding: 30px; }
    .flexi_about address .center {
      font-size: 20px; }
    .flexi_about .open {
      display: none; }
    .flexi_about .social_media_icons {
      display: inline-block;
      padding-left: 0px; }
      .flexi_about .social_media_icons .tooltip {
        margin-top: 40px; }
      .flexi_about .social_media_icons .face {
        float: left; }
      .flexi_about .social_media_icons .insta {
        float: right; }
    .flexi_about .mapa {
      padding-top: 20px;
      margin: 0 auto;
      width: 100%;
      height: 350px; }

  .center_text {
    font-size: 24px; }

  .show {
    display: block; }

  .contact {
    padding-bottom: 20px;
    padding-top: 20px; }
    .contact .contact_form {
      min-height: 250px;
      max-width: 500px; }
      .contact .contact_form .name {
        padding: 5px; }
      .contact .contact_form .label {
        text-transform: uppercase; }
      .contact .contact_form .input_text {
        min-height: 100px; }

  .book_image {
    padding-top: 50px; }
    .book_image .book_open {
      display: block;
      margin: auto; }
    .book_image .h2_book_imp {
      padding-top: 20px; }

  .h3_comment {
    text-transform: uppercase; } }

/*# sourceMappingURL=style.css.map */
