@mixin main {
	* {
        margin: 0;
        padding: 0;
        line-height: 1.5;
		font-family: $main_font;
		font-size: 100%;
        overflow-x: hidden;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
	}
}

@mixin shadow {
   -webkit-box-shadow: 0px 0px 2px 2px rgba(250, 0, 0, 0.85);
	  -moz-box-shadow: 0px 0px 2px 2px rgba(250, 0, 0,0.85);
		   box-shadow: 0px 0px 2px 2px rgba(250, 0, 0,0.85);
}

@mixin tablet {
    // @media only screen and (min-device-width : middle_min_breakpont) and (max-device-width : $middle_max_breakpont) and (orientation : portrait) {
    //     @content;
    // }
    @media only screen and (max-width: $middle_breakpoint) {
        @content;
    } 
}

@mixin  mobile {
    @media only screen and (max-width: $small_max_breakpont) {
        @content;
    }       
}
